@using Highbyte.DotNet6502.Systems.Commodore64.Config;
@using Highbyte.DotNet6502.Systems.Commodore64;
@using Highbyte.DotNet6502.Systems.Commodore64.Video;
@using static Highbyte.DotNet6502.App.SkiaWASM.Pages.Index;

<div class="system-commands systemCommandsStyle">
    <button @onclick="OnBasicFilePicker" disabled=@OnBasicFilePickerDisabled>Load Basic PRG file</button>
    <button @onclick="OnSaveBasicFile" disabled=@OnBasicFilePickerDisabled>Save Basic PRG file</button>
    <button @onclick="OnFilePicker" disabled=@OnFilePickerDisabled>Load & start binary PRG file</button>

    <p>Assembly example files</p>
    <div>
        <select value="@SelectedAssemblyExample" @onchange="OnAssemblyExampleChanged" disabled=@OnFilePickerDisabled>
            @foreach (var exampleFileKey in _assemblyExampleFiles.Keys)
            {
                <option value="@_assemblyExampleFiles[exampleFileKey]"> @exampleFileKey </option>
            }
        </select>
        <button @onclick="OnLoadAssemblyExample" disabled=@OnFilePickerDisabled>Load & start</button>
    </div>

    <p>Basic example files</p>
    <div>
        <select value="@SelectedBasicExample" @onchange="OnBasicExampleChanged" disabled=@OnFilePickerDisabled>
            @foreach (var exampleFileKey in _basicExampleFiles.Keys)
            {
                <option value="@_basicExampleFiles[exampleFileKey]"> @exampleFileKey </option>
            }
        </select>
        <button @onclick="OnLoadBasicExample" disabled=@OnFilePickerDisabled>Load</button>
    </div>
</div>

<div class="system-help systemHelpStyle">
</div>

<div class="system-config systemConfigStyle">
    <button @onclick="ShowConfigUI" disabled=@ShowConfigDisabled>C64 Config</button>
</div>

<style>
    .systemCommandsStyle {
        display: @Parent.GetSystemVisibilityDisplayStyle("Commands", SYSTEM_NAME);
    }
    .systemHelpStyle {
        display: @Parent.GetSystemVisibilityDisplayStyle("Help", SYSTEM_NAME);
    }
    .systemConfigStyle {
        display: @Parent.GetSystemVisibilityDisplayStyle("Config", SYSTEM_NAME);
    }
</style>

<InputFile id="filePicker" OnChange="@OnFilePickerChange" hidden />
<InputFile id="filePickerBasic" OnChange="@OnBasicFilePickerChange" hidden />

@code {
    @inject IJSRuntime Js
    @inject HttpClient? HttpClient

    private string SYSTEM_NAME = C64.SystemName;

    private readonly Dictionary<string, string> _assemblyExampleFiles = new()
    {
        {"","" },
        {"SmoothScroller", "6502binaries/C64/Assembler/smooth_scroller_and_raster.prg" },
        {"Scroller", "6502binaries/C64/Assembler/scroller_and_raster.prg" }
    };
    private readonly Dictionary<string, string> _basicExampleFiles = new()
    {
        {"","" },
        {"HelloWorld", "6502binaries/C64/Basic/HelloWorld.prg" },
        {"PlaySound", "6502binaries/C64/Basic/PlaySoundVoice1TriangleScale.prg" }
    };

    public string SelectedAssemblyExample { get; set; }

    public string SelectedBasicExample { get; set; }

    private bool _wasRunningBeforeFileDialog = false;

    private async Task ShowConfigUI() => await Parent.ShowConfigUI<C64ConfigUI>();


    [Parameter]
    public Highbyte.DotNet6502.App.SkiaWASM.Pages.Index Parent { get; set; } = default!;

    protected bool ShowConfigDisabled => Parent.CurrentEmulatorState != EmulatorState.Uninitialized;

    protected bool OnFilePickerDisabled => Parent.CurrentEmulatorState == EmulatorState.Uninitialized;

    protected bool OnBasicFilePickerDisabled => Parent.CurrentEmulatorState == EmulatorState.Uninitialized;

    /// <summary>
    /// Open Load binary file dialog
    /// </summary>
    /// <returns></returns>
    private async Task OnFilePicker(MouseEventArgs mouseEventArgs)
    {
        await Js.InvokeVoidAsync("clickId", "filePicker");
    }

    /// <summary>
    /// Callback when binary file has been loaded from file pick dialog
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task OnFilePickerChange(InputFileChangeEventArgs e)
    {
        if (Parent.WasmHost == null)
            return;

        if (Parent.CurrentEmulatorState == EmulatorState.Uninitialized)
            return;

        // Only expect one file
        if (e.FileCount > 1)
            return;
        var file = e.File;
        System.Diagnostics.Debug.WriteLine($"File picked: {file.Name} Size: {file.Size}");

        var fileBuffer = new byte[file.Size];
        //var fileStream = e.File.OpenReadStream(file.Size);
        await file.OpenReadStream().ReadAsync(fileBuffer);
        var fileSize = fileBuffer.Length;

        // Load file into memory, assume starting at address specified in two first bytes of .prg file
        BinaryLoader.Load(
            Parent.WasmHost.SystemRunner.System.Mem,
            fileBuffer,
            out ushort loadedAtAddress,
            out ushort fileLength);

        System.Diagnostics.Debug.WriteLine($"File loaded at {loadedAtAddress.ToHex()}, length {fileLength.ToHex()}");

        System.Diagnostics.Debug.WriteLine($"Starting loaded program by changing Program Counter to {loadedAtAddress.ToHex()}");
        Parent.WasmHost.SystemRunner.System.CPU.PC = loadedAtAddress;

        await Parent.OnStart(new());
    }

    /// <summary>
    /// Open Load Basic .prg file dialog
    /// </summary>
    /// <returns></returns>
    private async Task OnBasicFilePicker(MouseEventArgs mouseEventArgs)
    {
        _wasRunningBeforeFileDialog = Parent.CurrentEmulatorState == EmulatorState.Running;
        await Js.InvokeVoidAsync("clickId", "filePickerBasic");
    }

    /// <summary>
    /// Callback when C64 basic file (.prg) has been loaded from file pick dialog (from main UI, not monitor)
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task OnBasicFilePickerChange(InputFileChangeEventArgs e)
    {
        if (Parent.WasmHost == null)
            return;

        if (Parent.CurrentEmulatorState == EmulatorState.Uninitialized)
            return;

        // Only expect one file
        if (e.FileCount > 1)
            return;
        var file = e.File;
        System.Diagnostics.Debug.WriteLine($"File picked: {file.Name} Size: {file.Size}");

        var fileBuffer = new byte[file.Size];
        //var fileStream = e.File.OpenReadStream(file.Size);
        await file.OpenReadStream().ReadAsync(fileBuffer);
        var fileSize = fileBuffer.Length;

        // Load file into memory, assume starting at address specified in two first bytes of .prg file
        BinaryLoader.Load(
            Parent.WasmHost.SystemRunner.System.Mem,
            fileBuffer,
            out ushort loadedAtAddress,
            out ushort fileLength);

        if (loadedAtAddress != C64.BASIC_LOAD_ADDRESS)
        {
            // Probably not a Basic program that was loaded. Don't init BASIC memory variables.
            System.Diagnostics.Debug.WriteLine($"Warning: Loaded program is not a Basic program, it's expected to load at {C64.BASIC_LOAD_ADDRESS.ToHex()} but was loaded at {loadedAtAddress.ToHex()}");
        }
        else
        {
            // Init C64 BASIC memory variables
            ((C64)Parent.WasmHost.SystemRunner.System).InitBasicMemoryVariables(loadedAtAddress, fileLength);
        }

        System.Diagnostics.Debug.WriteLine($"Basic program loaded at {loadedAtAddress.ToHex()}, length {fileLength.ToHex()}");

        if (_wasRunningBeforeFileDialog)
            await Parent.OnStart(new());
    }

    private async Task OnSaveBasicFile(MouseEventArgs mouseEventArgs)
    {
        if (Parent.WasmHost == null)
            return;
        if (Parent.CurrentEmulatorState == EmulatorState.Uninitialized)
            return;

        var result = await Parent.Modal.Show<EnterFileName>().Result;
        if (result.Confirmed)
        {
            if (result.Data is null)
                return;
            var fileName = (string)result.Data;
            if (string.IsNullOrEmpty(fileName))
                return;
            string ext = Path.GetExtension(fileName);
            if (string.IsNullOrEmpty(ext))
                fileName += ".prg";

            var startAddress = C64.BASIC_LOAD_ADDRESS;
            var endAddress = ((C64)Parent.WasmHost.SystemRunner.System).GetBasicProgramEndAddress();
            var saveData = BinarySaver.BuildSaveData(Parent.WasmHost.SystemRunner.System.Mem, startAddress, endAddress, addFileHeaderWithLoadAddress: true);
            var fileStream = new MemoryStream(saveData);
            using var streamRef = new DotNetStreamReference(stream: fileStream);
            // Invoke JS helper script to trigger save dialog to users browser downloads folder
            await Js.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
        }
    }


    private async Task OnAssemblyExampleChanged(ChangeEventArgs e)
    {
        SelectedAssemblyExample = e.Value?.ToString() ?? "";
    }

    private async Task OnLoadAssemblyExample(MouseEventArgs mouseEventArgs)
    {
        var url = SelectedAssemblyExample;
        if (string.IsNullOrEmpty(url))
            return;

        await Parent.OnPause(new());

        var prgBytes = await HttpClient!.GetByteArrayAsync(url);
        // Load file into memory, assume starting at address specified in two first bytes of .prg file
        BinaryLoader.Load(
            Parent.WasmHost.SystemRunner.System.Mem,
            prgBytes,
            out ushort loadedAtAddress,
            out ushort fileLength);

        System.Diagnostics.Debug.WriteLine($"File loaded at {loadedAtAddress.ToHex()}, length {fileLength.ToHex()}");

        System.Diagnostics.Debug.WriteLine($"Starting loaded program by changing Program Counter to {loadedAtAddress.ToHex()}");
        Parent.WasmHost.SystemRunner.System.CPU.PC = loadedAtAddress;

        await Parent.OnStart(new());
    }

    private async Task OnBasicExampleChanged(ChangeEventArgs e)
    {
        SelectedBasicExample = e.Value?.ToString() ?? "";
    }

    private async Task OnLoadBasicExample(MouseEventArgs mouseEventArgs)
    {
        string url = SelectedBasicExample;
        if (string.IsNullOrEmpty(url))
            return;

        await Parent.OnPause(new());

        var prgBytes = await HttpClient!.GetByteArrayAsync(url);

        // Load file into memory, assume starting at address specified in two first bytes of .prg file
        BinaryLoader.Load(
            Parent.WasmHost.SystemRunner.System.Mem,
            prgBytes,
            out ushort loadedAtAddress,
            out ushort fileLength);

        var c64 = (C64)Parent.WasmHost.SystemRunner.System;
        if (loadedAtAddress != C64.BASIC_LOAD_ADDRESS)
        {
            // Probably not a Basic program that was loaded. Don't init BASIC memory variables.
            System.Diagnostics.Debug.WriteLine($"Warning: Loaded program is not a Basic program, it's expected to load at {C64.BASIC_LOAD_ADDRESS.ToHex()} but was loaded at {loadedAtAddress.ToHex()}");
        }
        else
        {
            // Init C64 BASIC memory variables
            c64.InitBasicMemoryVariables(loadedAtAddress, fileLength);
        }

        // Send "list" + Enter to the keyboard buffer to immediately list the loaded program
        c64.Keyboard.KeyPressed(Petscii.CharToPetscii['l']);
        c64.Keyboard.KeyPressed(Petscii.CharToPetscii['i']);
        c64.Keyboard.KeyPressed(Petscii.CharToPetscii['s']);
        c64.Keyboard.KeyPressed(Petscii.CharToPetscii['t']);
        c64.Keyboard.KeyPressed(Petscii.CharToPetscii[(char)13]);

        await Parent.OnStart(new());
    }
}