@page "/"
@using Highbyte.DotNet6502.App.SkiaWASM.Skia
@using Microsoft.Extensions.Logging
@using SkiaSharp
@using SkiaSharp.Views.Blazor
@*@implements IDisposable*@

@*Note: Page title set in index.html title element*@
@*<PageTitle>dotnet-6502 CPU emulator in Blazor WebAssembly with Skia rendering</PageTitle>
*@

@*Inject JS to be able to set focus on SKGLView from code*@
@inject IJSRuntime Js

<div class="grid-container">
    <div class="header">
        <a href="https://github.com/highbyte/dotnet-6502" target="_blank" class="ml-md-auto">dotnet-6502</a> CPU emulator written in <a href="https://dotnet.microsoft.com/" target="_blank" class="ml-md-auto">.NET</a>, rendered with <a href="https://github.com/mono/SkiaSharp" target="_blank" class="ml-md-auto">SkiaSharp</a>, compiled to <a href="https://en.wikipedia.org/wiki/WebAssembly" target="_blank" class="ml-md-auto">WebAssembly</a> via <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank" class="ml-md-auto">Blazor</a>, running in a browser!
    </div>
    <div class="menu">
        <div id="system-selector">
            <div>
                System:
                <select @bind="@SelectedSystemName" disabled=@OnSelectSystemNameDisabled>
                    @foreach (var systemName in _systemList.Systems)
                    {
                        <option value="@systemName"> @systemName </option>
                    }
                </select>
            </div>
            <div>Status: @(_emulatorState)</div>
            <button @onclick="OnStart" disabled=@OnStartDisabled>Start</button>
            <button @onclick="OnPause" disabled=@OnPauseDisabled>Pause</button>
            <button @onclick="OnReset" disabled=@OnResetDisabled>Reset</button>
            <button @onclick="OnStop" disabled=@OnStopDisabled>Stop</button>
        </div>

        <div class="system-help" style="display:inline;">
            <h4>General help</h4>
            <ul>
                <li>Machine code monitor toggled by pressing § (or ~) key.</li>
                <li>The monitor uses hexadecimal notation for all addreses and values.</li>
                <li>Continue executing emulator by entering command g in the monitor.</li>
                <li>Stats panel toggled by pressing Shift-§ (or Shift-~) keys.</li>
            </ul>
        </div>

        <div class="system-config systemHelpC64Style">
            <h4>Selected system config: C64</h4>
            <p>Please pick C64 ROMs to use from your computer. Must be three files: <strong>Kernal, Basic, and Character generator</strong>.</p>
            <p>Can be downloaded from for example <a href="https://c64preservation.com/c64/roms/">here</a></p>

            <InputFile id="c64RomFilePicker" OnChange="@OnC64RomFilePickerChange" multiple hidden/>
            <button onclick="document.getElementById('c64RomFilePicker').click()" disabled=@(_emulatorState != EmulatorState.Uninitialized)>Load ROMs</button>

            @if (_isLoadingC64Roms)
            {
                <p>Uploading ROMs...</p>
            }
            else
            {
                @if (SelectedSystemUserConfig.UserSettings.ContainsKey(C64Setup.USER_CONFIG_ROMS))
                {
                    <p>ROMs loaded:</p>
                    <ul>
                        @foreach (var rom in (Dictionary<string, byte[]>)SelectedSystemUserConfig.UserSettings[C64Setup.USER_CONFIG_ROMS])
                        {
                            <li>ROM: @rom.Key (@rom.Value.Length bytes)</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No ROMs loaded.</p>
                }
            }
        </div>

        <div class="system-help systemHelpC64Style">
            <h4>Selected system help: C64</h4>
            <p>Special C64 keys map to PC keyboard:</p>
            <ul>
                <li>Run/Stop: Esc</li>
                <li>Restore: PageUp</li>
                <li>CTRL: RightCtrl</li>
                <li>C=: LeftCtrl</li>
            </ul>
            Useful C64 monitor commands
            <ul>
                <li>lb: Pick Basic .prg file to load.</li>
                <li>sb [filename.prg]: Save Basic .prg file as a download.</li>
            </ul>
        </div>

        <div class="system-help systemHelpGenericStyle">
            <h4>Selected system: Generic computer help</h4>
            <p>
            A generic 6502 CPU computer, with custom defined memory layout.
            Currently configured in the application config and code. A future update could make it possible to configure such things as total memory, screen memory addres and IO memory addresses here in the UI.
            </p>
            <p>
                Useful monitor commands:
            </p>
            <ul>
                <li>l: Pick a machine code .prg file to load</li>
                <li>s [filename.prg] [start] [end]: Save machine code (or data) as download.</li>
            </ul>
        </div>
    </div>

    @*Skia OpenGl View Blazor WASM component*@
    <div class="main">
        <SKGLView class="skGLViewStyle"
                  IgnorePixelScaling="true"
                  EnableRenderLoop="true"
                  OnPaintSurface="OnPaintSurface"
                  id="emulatorSKGLView"
                  tabindex="0"
                  oncontextmenu="return false;"
                  @onkeypress="OnKeyPress"
                  @onkeydown="OnKeyDown"
                  @onkeyup="OnKeyUp"
                  @ref="_emulatorSKGLViewRef"
                  autofocus />

    </div>
    <div class="right">
        <div class="infobox debugStyle">
            <div class="infobox-output">@((MarkupString)_statsString)</div>
        </div>
        <div class="infobox debugStyle">
            <div class="infobox-output">@((MarkupString)_debugString)</div>
        </div>

        <div class="monitorStyle">
            <div id="monitor-outer-screen">
                <div id="monitor-inner-screen">
                    <div id="monitor-output-outer"><div id="monitor-output">@((MarkupString)_monitorOutput)</div></div>
                    <div id="monitor-blank-line">&nbsp;</div>
                    <div id="monitor-input-row">
                        <span>&gt;&nbsp;</span><input id="monitor-input" @bind="_monitorInput" type="text" @onkeydown="OnKeyDownMonitor" @onkeyup="OnKeyUpMonitor" @ref="_monitorInputRef" />
                    </div>
                </div>
            </div>

            @*Monitor status*@
            <div class="infobox">
                <div class="infobox-output">@((MarkupString)_monitorStatus)</div>
            </div>
        </div>
    </div>

    <div class="footer">
        By <a href = "https://github.com/highbyte">Highbyte</a> 2022
    </div>
</div>

<style>
    .systemHelpC64Style {
        display: @GetDisplayStyle("C64Help");
    }
    .systemHelpGenericStyle {
        display: @GetDisplayStyle("GenericHelp");
    }
    .skGLViewStyle {
        width: @_windowWidthStyle;
        height: @_windowHeightStyle;
/*        max-width: @_windowWidthStyle;
        min-height: @_windowHeightStyle;
*/
    }
    .debugStyle {
        display: @GetDisplayStyle("Debug");
    }
    .monitorStyle {
        display: @GetDisplayStyle("Monitor");
    }
</style>

<InputFile id="monitorFilePicker" OnChange="@OnMonitorFilePickerChange" hidden/>

@code
{

    protected string GetDisplayStyle(string displayData)
    {
        const string VISIBLE = "inline";
        const string HIDDEN = "none";

        switch (displayData)
        {
            case "C64Help":
                {
                    return SelectedSystemName == "C64" ? VISIBLE : HIDDEN;
                }
            case "GenericHelp":
                {
                    return SelectedSystemName == "Generic" ? VISIBLE : HIDDEN;
                }
            case "Debug":
                {
                    return _debugVisible ? VISIBLE : HIDDEN;
                }
            case "Monitor":
                {
                    return _monitorVisible ? VISIBLE : HIDDEN;
                }
            default:
                return VISIBLE;
        }
    }

    protected bool OnSelectSystemNameDisabled => _emulatorState == EmulatorState.Running || _emulatorState == EmulatorState.Paused;
    protected bool OnStartDisabled => _emulatorState == EmulatorState.Running;
    protected bool OnPauseDisabled => _emulatorState == EmulatorState.Paused || _emulatorState == EmulatorState.Uninitialized;
    protected bool OnResetDisabled => _emulatorState == EmulatorState.Uninitialized;
    protected bool OnStopDisabled => _emulatorState == EmulatorState.Uninitialized;

    protected async void OnStart(MouseEventArgs mouseEventArgs)
    {
        bool isValid = true;
        if (_emulatorState == EmulatorState.Uninitialized)
            isValid = await InitEmulator();
        if (!isValid)
        {
            return;
        }

        _wasmHost!.Start();
        _emulatorState = EmulatorState.Running;
        this.StateHasChanged();
    }
    protected void OnPause(MouseEventArgs mouseEventArgs)
    {
        if (_emulatorState == EmulatorState.Uninitialized)
            return;

        _wasmHost!.Stop();
        _emulatorState = EmulatorState.Paused;
        this.StateHasChanged();
    }
    protected void OnReset(MouseEventArgs mouseEventArgs)
    {
        OnPause(mouseEventArgs);
        OnStop(mouseEventArgs);
        OnStart(mouseEventArgs);
    }
    protected void OnStop(MouseEventArgs mouseEventArgs)
    {
        CleanupEmulator();
        this.StateHasChanged();
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //await FocusEmulator();
        }
    }

    private void OnKeyPress(KeyboardEventArgs e)
    {
        if (_wasmHost == null)
            return;
        _wasmHost.InputHandlerContext.KeyPress(e);

        // Emulator host functions such as monitor and stats/debug
        _wasmHost.OnKeyPress(e);
    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        if (_wasmHost == null)
            return;
        _wasmHost.InputHandlerContext.KeyDown(e);

        // Emulator host functions such as monitor and stats/debug
        _wasmHost.OnKeyDown(e);
    }

    private void OnKeyUp(KeyboardEventArgs e)
    {
        if (_wasmHost == null)
            return;
        _wasmHost.InputHandlerContext.KeyUp(e);
    }

    //private void OnPointerDown(PointerEventArgs e)
    //{
    //}

    //private void OnPointerMove(PointerEventArgs e)
    //{
    //}

    //private void OnPointerUp(PointerEventArgs e)
    //{
    //}

    //private void OnTouchMove(TouchEventArgs e)
    //{
    //}

    //private void OnMouseWheel(WheelEventArgs e)
    //{
    //}

    private void OnKeyDownMonitor(KeyboardEventArgs e)
    {
        if (_wasmHost == null || _wasmHost.Monitor == null)
            return;
        _wasmHost.Monitor.OnKeyDown(e);
    }

    private void OnKeyUpMonitor(KeyboardEventArgs e)
    {
        if (_wasmHost == null || _wasmHost.Monitor == null)
            return;
        _wasmHost.Monitor.OnKeyUp(e);
    }

    private async Task FocusEmulator()
    {
        await Js.InvokeVoidAsync("focusId", "emulatorSKGLView");
    }

    private async Task FocusMonitor()
    {
        await Task.Run(async () => await _monitorInputRef!.Value.FocusAsync());    // Task.Run fix for focusing on a element that is not yet visible (but about to be)
                                                                                   //await _monitorInputRef.FocusAsync();
    }


    private async Task OnMonitorFilePickerChange(InputFileChangeEventArgs e)
    {
        if (_wasmHost == null || _wasmHost.Monitor == null)
            return;

        // Only expect one file
        if (e.FileCount > 1)
            return;
        var file = e.File;
        System.Diagnostics.Debug.WriteLine($"File picked: {file.Name} Size: {file.Size}");

        var fileBuffer = new byte[file.Size];
        //var fileStream = e.File.OpenReadStream(file.Size);
        await file.OpenReadStream().ReadAsync(fileBuffer);
        var fileSize = fileBuffer.Length;

        _wasmHost.Monitor.LoadBinaryFromUser(fileBuffer);
    }


    private bool _isLoadingC64Roms;
    private List<IBrowserFile> _loadedC64RomFiles = new();
    private long _maxC64RomFileSize = 1024 * 8;
    private int _maxC64AllowedRomFiles = 3;

    private async Task OnC64RomFilePickerChange(InputFileChangeEventArgs e)
    {
        _isLoadingC64Roms = true;

        if (!SelectedSystemUserConfig.UserSettings.ContainsKey(C64Setup.USER_CONFIG_ROMS))
            SelectedSystemUserConfig.UserSettings[C64Setup.USER_CONFIG_ROMS] = new Dictionary<string, byte[]>();
        var roms = (Dictionary<string, byte[]>)SelectedSystemUserConfig.UserSettings[C64Setup.USER_CONFIG_ROMS];

        foreach (var file in e.GetMultipleFiles(_maxC64AllowedRomFiles))
        {
            try
            {
                if (file.Size > _maxC64RomFileSize)
                {
                    continue;
                }
                bool isKernal = false;
                bool isBasic = false;
                bool isChargen = false;
                if (file.Name.Contains("kernal", StringComparison.InvariantCultureIgnoreCase))
                    isKernal = true;
                else if (file.Name.Contains("basic", StringComparison.InvariantCultureIgnoreCase))
                    isBasic = true;
                else if (file.Name.Contains("char", StringComparison.InvariantCultureIgnoreCase))
                    isChargen = true;
                else
                    continue;

                var fileBuffer = new byte[file.Size];
                //var fileStream = e.File.OpenReadStream(file.Size);
                await file.OpenReadStream().ReadAsync(fileBuffer);
                var fileSize = fileBuffer.Length;

                if (isKernal)
                    roms[C64Setup.USER_CONFIG_KERNAL_ROM] = fileBuffer;
                else if (isBasic)
                    roms[C64Setup.USER_CONFIG_BASIC_ROM] = fileBuffer;
                else if (isChargen)
                    roms[C64Setup.USER_CONFIG_CHARGEN_ROM] = fileBuffer;
            }
            catch (Exception ex)
            {
                //Logger.LogError("File: {Filename} Error: {Error}",
                //    file.Name, ex.Message);
            }
        }

        _isLoadingC64Roms = false;
    }

}
