@page "/"
@using Highbyte.DotNet6502.Systems.Commodore64.Config;
@using Highbyte.DotNet6502.Systems.Commodore64;
@using Highbyte.DotNet6502.Systems.Generic;

@using SkiaSharp.Views.Blazor
@*@implements IDisposable*@

@*Note: Page title set in index.html title element*@
@*<PageTitle>dotnet-6502 CPU emulator in Blazor WebAssembly with Skia rendering</PageTitle>
*@

@*Inject JS to be able to set focus on SKGLView from code*@
@inject IJSRuntime Js

@*Inject Local Storage helper services *@
@inject Blazored.LocalStorage.ILocalStorageService _localStorage

<div class="grid-container">
    <div class="header">
        <a href="https://github.com/highbyte/dotnet-6502" target="_blank">DotNet 6502</a>
    </div>
    <div class="menu">
        <div id="system-selector">
            <div>
                System:
                @* <select @bind="@SelectedSystemName" disabled=@OnSelectSystemNameDisabled autofocus> *@
                <select value="@SelectedSystemName" @onchange="OnSelectedEmulatorChanged" disabled=@OnSelectSystemNameDisabled autofocus>
                    @foreach (var systemName in _systemList.Systems)
                    {
                        <option value="@systemName"> @systemName </option>
                    }
                </select>
            </div>
            <div>Status: @(_emulatorState)</div>
            <button @onclick="OnStart" disabled=@OnStartDisabled>Start</button>
            <button @onclick="OnPause" disabled=@OnPauseDisabled>Pause</button>
            <button @onclick="OnReset" disabled=@OnResetDisabled>Reset</button>
            <button @onclick="OnStop" disabled=@OnStopDisabled>Stop</button>
            <button @onclick="OnMonitorToggle" disabled=@OnStopDisabled>Monitor</button>
            <button @onclick="OnStatsToggle" disabled=@OnStopDisabled>Stats</button>

            <p></p>
            <span>Screen scale: <InputNumber @bind-Value="Scale" step="0.5" style="width: 40px" disabled=@OnSelectSystemNameDisabled>Scale: </InputNumber></span>

            <p></p>
            <label for="audioEnabled">Audio enabled (experimental)</label>
            <input id="audioEnabled" type="checkbox" @bind="@AudioEnabled" disabled=@AudioEnabledToggleDisabled />

            <p></p>
            <div class="audioVolumeStyle">
                Volume:
                <input @bind="@MasterVolumePercent" @bind:event="oninput" type="range" id="masterVolume" min="0" max="100" step="0.02" />
                @* <input @bind="@MasterVolumePercent" @bind:event="oninput" type="number" min="0" max="100" step="0.02" /> *@
            </div>

            <p></p>
            <div>
                <button @onclick="OnFilePicker" disabled=@OnFilePickerDisabled>Load & start binary PRG file</button>
            </div>
        </div>

        <div class="system-help" style="display:inline;">
            <h4>About the emulator</h4>
            <button @onclick="ShowGeneralHelpUI">Help</button>
        </div>

        <div class="system-help systemC64HelpStyle">
            <h4>Selected system: C64</h4>
            <button @onclick="OnC64BasicFilePicker" disabled=@OnC64BasicFilePickerDisabled>Load C64 Basic PRG file</button>
            <button @onclick="ShowC64ConfigUI" disabled=@ShowConfigDisabled>C64 Config</button>
        </div>

        <div class="system-help systemGenericHelpStyle">
            <h4>Selected system: Generic</h4>
            <button @onclick="ShowGenericConfigUI" disabled=@ShowConfigDisabled>Generic computer Config</button>
        </div>

        <div class="validation-message">
            <span>@GetSelectedSystemConfigValidationMessage()</span>
        </div>

    </div>

    <div class="menuFooter">
        <div id="versionInfo">
            <p>
                <a href="https://github.com/highbyte/dotnet-6502" target="_blank">dotnet-6502</a>
            </p>
            <p>
                By: <a href="https://github.com/highbyte" target="_blank">Highbyte</a>
            </p>
            <p>
                Version: @Version
            </p>
        </div>
    </div>

    @*Skia OpenGl View Blazor WASM component*@
    <div class="main">
        <SKGLView class="skGLViewStyle"
                  IgnorePixelScaling="true"
                  EnableRenderLoop="true"
                  OnPaintSurface="OnPaintSurface"
                  id="emulatorSKGLView"
                  tabindex="0"
                  oncontextmenu="return false;"
                  @onkeypress="OnKeyPress"
                  @onkeydown="OnKeyDown"
                  @onkeyup="OnKeyUp"
                  @ref="_emulatorSKGLViewRef"
                  />

        <div id="canvasUninitialized"
             class="canvasUninitializedStyle">

            <h2>
                The DotNet 6502 emulator!
            </h2>

            <p>
                A <a href="https://en.wikipedia.org/wiki/MOS_Technology_6502" target="_blank">6502 CPU</a> emulator written in <a href="https://dotnet.microsoft.com/" target="_blank">.NET</a>, rendered with <a href="https://github.com/mono/SkiaSharp" target="_blank">SkiaSharp</a>, compiled to <a href="https://en.wikipedia.org/wiki/WebAssembly" target="_blank">WebAssembly</a> via <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>, running in a browser.
            </p>
            <p>
                Select the computer to emulate in the System drop down menu on the left.
            </p>
            <p>
                For certain computers (like the C64) you have to provide ROM files via a Config button.
            </p>
            <p>
                Press Start button to run.
            </p>
            <p>
                When running, press F12 to start machine code monitor and F11 to show statistics.
            </p>
        </div>

    </div>
    <div class="right">
        <div class="infobox debugStyle">
            <div class="infobox-output">@((MarkupString)_statsString)</div>
        </div>
        <div class="infobox debugStyle">
            <div class="infobox-output">@((MarkupString)_debugString)</div>
        </div>

        <div class="monitorStyle">
            <div id="monitor-outer-screen">
                <div id="monitor-inner-screen">
                    <div id="monitor-output-outer"><div id="monitor-output">@((MarkupString)_monitorOutput)</div></div>
                    <div id="monitor-blank-line">&nbsp;</div>
                    <div id="monitor-input-row">
                        <span>&gt;&nbsp;</span><input id="monitor-input" @bind="_monitorInput" type="text" @onkeydown="OnKeyDownMonitor" @onkeyup="OnKeyUpMonitor" @ref="_monitorInputRef" />
                    </div>
                </div>
            </div>

            @*Monitor status*@
            <div class="infobox">
                <div class="infobox-output">@((MarkupString)_monitorStatus)</div>
            </div>
        </div>
    </div>

    <div class="footer">

        <div class="system-help systemC64HelpStyle">
            <div class="row">
                <div class="column">
                    <div class="table">
                        <div class="table-caption">
                            C64 keyboard mapping
                        </div>
                        <div class="table-header">
                            <div class="table-header-cell">
                                Command
                            </div>
                            <div class="table-header-cell">
                                C64 key
                            </div>
                            <div class="table-header-cell">
                                PC / Mac key
                            </div>
                        </div>

                        <div class="table-body">
                            <div class="table-row">
                                <div class="table-cell">Stop running Basic program</div>
                                <div class="table-cell">Run/Stop</div>
                                <div class="table-cell">Esc</div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">Soft reset</div>
                                <div class="table-cell">Run/Stop + Restore</div>
                                <div class="table-cell">Esc + PageUp (fn + ArrowUp on Mac)</div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">Change text color 1-8</div>
                                <div class="table-cell">CTRL + numbers 1-8</div>
                                <div class="table-cell">Tab + numbers 1-8</div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">Change text color 9-16</div>
                                <div class="table-cell">C= + numbers 1-8</div>
                                <div class="table-cell">LeftCtrl + numbers 1-8</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="column">
                    <button @onclick="ShowC64HelpUI">Detailed help</button>
                </div>
            </div>
        </div>

        <div class="system-help systemGenericHelpStyle">
            <div class="row">
                <div class="column">
                    <p>
                        A generic 6502 CPU computer, with custom defined memory layout.
                    </p>
                    <p>
                        Currently configured in the application config and code.
                        A future update could make it possible to configure such things as
                        total memory, screen memory addres and IO memory addresses in
                        the UI.
                    </p>
                </div>
                <div class="column">
                    <button @onclick="ShowGenericHelpUI">Detailed help</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .skGLViewStyle {
        display: @GetDisplayStyle("Canvas");
        width: @_windowWidthStyle;
        height: @_windowHeightStyle;
    }

    .canvasUninitializedStyle {
        display: @GetDisplayStyle("CanvasUninitialized");
        width: 806px;
        height: 320px;
    }

    .systemC64CommandsStyle {
        display: @GetDisplayStyle("C64Commands");
    }

    .systemC64HelpStyle {
        display: @GetDisplayStyle("C64Help");
    }
    .systemGenericHelpStyle {
        display: @GetDisplayStyle("GenericHelp");
    }
    .debugStyle {
        display: @GetDisplayStyle("Debug");
    }
    .monitorStyle {
        display: @GetDisplayStyle("Monitor");
    }
    .audioVolumeStyle {
        display: @GetDisplayStyle("AudioVolume");
    }
</style>

<InputFile id="monitorFilePicker" OnChange="@OnMonitorFilePickerChange" hidden/>
<InputFile id="filePicker" OnChange="@OnFilePickerChange" hidden/>

<InputFile id="filePickerC64Basic" OnChange="@OnC64BasicFilePickerChange" hidden/>

@code
{
    protected string GetDisplayStyle(string displayData)
    {
        const string VISIBLE = "inline";
        const string VISIBLE_BLOCK = "inline-block";
        const string HIDDEN = "none";

        switch (displayData)
        {
            case "Canvas":
                {
                    return _emulatorState != EmulatorState.Uninitialized ? VISIBLE: HIDDEN;
                }
            case "CanvasUninitialized":
                {
                    return _emulatorState == EmulatorState.Uninitialized ? VISIBLE_BLOCK : HIDDEN;
                }
            case "C64Commands":
                {
                    return SelectedSystemName == C64.SystemName && _emulatorState != EmulatorState.Uninitialized ? VISIBLE : HIDDEN;
                }
            case "C64Help":
                {
                    return SelectedSystemName == C64.SystemName ? VISIBLE : HIDDEN;
                }
            case "GenericHelp":
                {
                    return SelectedSystemName == GenericComputer.SystemName ? VISIBLE : HIDDEN;
                }
            case "Debug":
                {
                    return _debugVisible ? VISIBLE : HIDDEN;
                }
            case "Monitor":
                {
                    return _monitorVisible ? VISIBLE : HIDDEN;
                }
            case "AudioVolume":
                {
                    return (_currentConfig?.AudioEnabled ?? false) ? VISIBLE : HIDDEN;
                }
            default:
                return VISIBLE;
        }
    }

    protected bool OnSelectSystemNameDisabled => _emulatorState == EmulatorState.Running || _emulatorState == EmulatorState.Paused;
    protected bool OnStartDisabled => _emulatorState == EmulatorState.Running ||!IsSelectedSystemConfigOk;
    protected bool OnPauseDisabled => _emulatorState == EmulatorState.Paused || _emulatorState == EmulatorState.Uninitialized;
    protected bool OnResetDisabled => _emulatorState == EmulatorState.Uninitialized;
    protected bool OnStopDisabled => _emulatorState == EmulatorState.Uninitialized;
        
    protected bool ShowConfigDisabled => _emulatorState != EmulatorState.Uninitialized;

    private bool _wasRunningBeforeFileDialog = false;
    protected bool OnFilePickerDisabled => _emulatorState == EmulatorState.Uninitialized;
    protected bool OnC64BasicFilePickerDisabled => _emulatorState == EmulatorState.Uninitialized;


    protected async Task OnStart(MouseEventArgs mouseEventArgs)
    {
        if (_emulatorState == EmulatorState.Uninitialized)
        {
            bool isOk = await _systemList.IsValidConfig(_selectedSystemName);
            if (!isOk)
                return;

            await InitEmulator();
        }

        _wasmHost!.Start();
        _emulatorState = EmulatorState.Running;
        await FocusEmulator();

        this.StateHasChanged();
    }
    protected async Task OnPause(MouseEventArgs mouseEventArgs)
    {
        if (_emulatorState == EmulatorState.Uninitialized)
            return;

        _wasmHost!.Stop();
        _emulatorState = EmulatorState.Paused;
        this.StateHasChanged();
    }
    protected async Task OnReset(MouseEventArgs mouseEventArgs)
    {
        await OnPause(mouseEventArgs);
        await OnStop(mouseEventArgs);
        await OnStart(mouseEventArgs);
    }
    protected async Task OnStop(MouseEventArgs mouseEventArgs)
    {
        await CleanupEmulator();
        this.StateHasChanged();
    }
    protected async Task OnMonitorToggle(MouseEventArgs mouseEventArgs)
    {
        await _wasmHost!.ToggleMonitor();
        this.StateHasChanged();
    }

    protected async Task OnStatsToggle(MouseEventArgs mouseEventArgs)
    {
        await ToggleDebugStatsState();
    }


    private void OnKeyPress(KeyboardEventArgs e)
    {
        if (_wasmHost == null)
            return;
        _wasmHost.InputHandlerContext.KeyPress(e);

        // Emulator host functions such as monitor and stats/debug
        _wasmHost.OnKeyPress(e);
    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        if (_wasmHost == null)
            return;
        _wasmHost.InputHandlerContext.KeyDown(e);

        // Emulator host functions such as monitor and stats/debug
        _wasmHost.OnKeyDown(e);
    }

    private void OnKeyUp(KeyboardEventArgs e)
    {
        if (_wasmHost == null)
            return;
        _wasmHost.InputHandlerContext.KeyUp(e);
    }

    //private void OnPointerDown(PointerEventArgs e)
    //{
    //}

    //private void OnPointerMove(PointerEventArgs e)
    //{
    //}

    //private void OnPointerUp(PointerEventArgs e)
    //{
    //}

    //private void OnTouchMove(TouchEventArgs e)
    //{
    //}

    //private void OnMouseWheel(WheelEventArgs e)
    //{
    //}

    private void OnKeyDownMonitor(KeyboardEventArgs e)
    {
        if (_wasmHost == null || _wasmHost.Monitor == null)
            return;
        _wasmHost.Monitor.OnKeyDown(e);
    }

    private void OnKeyUpMonitor(KeyboardEventArgs e)
    {
        if (_wasmHost == null || _wasmHost.Monitor == null)
            return;
        _wasmHost.Monitor.OnKeyUp(e);
    }

    private async Task FocusEmulator()
    {
        await Js.InvokeVoidAsync("focusId", "emulatorSKGLView", 100);  // Hack: Delay of x ms for focus to work.
    }

    private async Task FocusMonitor()
    {
        await Task.Run(async () => await _monitorInputRef!.Value.FocusAsync());    // Task.Run fix for focusing on a element that is not yet visible (but about to be)
                                                                                   //await _monitorInputRef.FocusAsync();
    }

    /// <summary>
    /// Callback from monitor when user has selected a file to load
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task OnMonitorFilePickerChange(InputFileChangeEventArgs e)
    {
        if (_wasmHost == null || _wasmHost.Monitor == null)
            return;

        // Only expect one file
        if (e.FileCount > 1)
            return;
        var file = e.File;
        System.Diagnostics.Debug.WriteLine($"File picked: {file.Name} Size: {file.Size}");

        var fileBuffer = new byte[file.Size];
        //var fileStream = e.File.OpenReadStream(file.Size);
        await file.OpenReadStream().ReadAsync(fileBuffer);
        var fileSize = fileBuffer.Length;

        _wasmHost.Monitor.LoadBinaryFromUser(fileBuffer);
    }

    /// <summary>
    /// Open Load binary file dialog (from main UI, not monitor)
    /// </summary>
    /// <returns></returns>
    private async Task OnFilePicker(MouseEventArgs mouseEventArgs)
    {
        await OnPause(mouseEventArgs);
        Js.InvokeVoidAsync("clickId", "filePicker");
    }

    /// <summary>
    /// Callback when binary file has been loaded from file pick dialog (from main UI, not monitor)
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task OnFilePickerChange(InputFileChangeEventArgs e)
    {
        if (_wasmHost == null)
            return;

        if (_emulatorState == EmulatorState.Uninitialized)
            return;

        // Only expect one file
        if (e.FileCount > 1)
            return;
        var file = e.File;
        System.Diagnostics.Debug.WriteLine($"File picked: {file.Name} Size: {file.Size}");

        var fileBuffer = new byte[file.Size];
        //var fileStream = e.File.OpenReadStream(file.Size);
        await file.OpenReadStream().ReadAsync(fileBuffer);
        var fileSize = fileBuffer.Length;

        // Load file into memory, assume starting at address specified in two first bytes of .prg file
        BinaryLoader.Load(
            _wasmHost.SystemRunner.System.Mem,
            fileBuffer,
            out ushort loadedAtAddress,
            out ushort fileLength);

        System.Diagnostics.Debug.WriteLine($"File loaded at {loadedAtAddress.ToHex()}, length {fileLength.ToHex()}");

        System.Diagnostics.Debug.WriteLine($"Starting loaded program by changing Program Counter to {loadedAtAddress.ToHex()}");
        _wasmHost.SystemRunner.System.CPU.PC = loadedAtAddress;

        await OnStart(new());
    }

    /// <summary>
    /// Open Load C64 basic .prg file dialog (from main UI, not monitor)
    /// </summary>
    /// <returns></returns>
    private async Task OnC64BasicFilePicker(MouseEventArgs mouseEventArgs)
    {
        _wasRunningBeforeFileDialog = _emulatorState == EmulatorState.Running;
        await OnPause(mouseEventArgs);
        Js.InvokeVoidAsync("clickId", "filePickerC64Basic");
    }

    /// <summary>
    /// Callback when C64 basic file (.prg) has been loaded from file pick dialog (from main UI, not monitor)
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task OnC64BasicFilePickerChange(InputFileChangeEventArgs e)
    {
        if (_wasmHost == null)
            return;

        if (_emulatorState == EmulatorState.Uninitialized)
            return;

        // Only expect one file
        if (e.FileCount > 1)
            return;
        var file = e.File;
        System.Diagnostics.Debug.WriteLine($"File picked: {file.Name} Size: {file.Size}");

        var fileBuffer = new byte[file.Size];
        //var fileStream = e.File.OpenReadStream(file.Size);
        await file.OpenReadStream().ReadAsync(fileBuffer);
        var fileSize = fileBuffer.Length;

        // Load file into memory, assume starting at address specified in two first bytes of .prg file
        BinaryLoader.Load(
            _wasmHost.SystemRunner.System.Mem,
            fileBuffer,
            out ushort loadedAtAddress,
            out ushort fileLength);

        if (loadedAtAddress != C64.BASIC_LOAD_ADDRESS)
        {
            // Probably not a Basic program that was loaded. Don't init BASIC memory variables.
            Debug.WriteLine($"Warning: Loaded program is not a Basic program, it's expected to load at {C64.BASIC_LOAD_ADDRESS.ToHex()} but was loaded at {loadedAtAddress.ToHex()}");
        }
        else
        {
            // Init C64 BASIC memory variables
            ((C64)_wasmHost.SystemRunner.System).InitBasicMemoryVariables(loadedAtAddress, fileLength);
        }

        System.Diagnostics.Debug.WriteLine($"Basic program loaded at {loadedAtAddress.ToHex()}, length {fileLength.ToHex()}");

        if(_wasRunningBeforeFileDialog)
            await OnStart(new());
    }
}
