@page "/"
@inherits DotNet6502EmulatorComponent
@using System.Text;

@if(EmulatorIsInitialized())
{
<div id="emulator_root" class="@GetLayoutRootClass() @GetBorderBgColorClass()" @ref="myReference" @onkeydown="@OnKeyDown" @onkeyup="@OnKeyUp" tabindex="0">
    <div id="emultor_frame" class="@GetFrameClass() @GetBackgroundBgColorClass()">
        @for (int row = 0; row < MAX_ROWS; row++)
        {
            @for (int col = 0; col < MAX_COLS; col++)
            {
                StringBuilder builder = new StringBuilder();
                if(col == (MAX_COLS-1))
                    builder.Append("char_span_last_on_line ");
                else
                    builder.Append("char_span ");

                builder.Append(GetFgColorCssClass(col,row));
                @* builder.Append(' ');
                builder.Append(GetBgColorCssClass(col,row)); *@
                string cssClasses = @builder.ToString();
                MarkupString displayChar = @GetCharacter(col,row);
                <span class="@cssClasses">@displayChar</span>
            }
        }
    </div>
</div>

@if(ShowDebugMessages)
{
    <div id="debug">
        @foreach (var msg in GetDebugMessages())
        {
            <p>@msg</p>
        }
    </div>
}


}
