@using Blazored.LocalStorage
@using Highbyte.DotNet6502.AI.CodingAssistant
@using Highbyte.DotNet6502.AI.CodingAssistant.Inference.OpenAI
@using Highbyte.DotNet6502.App.WASM.Emulator.SystemSetup
@using Highbyte.DotNet6502.Impl.AspNet.Commodore64.Input;
@using Highbyte.DotNet6502.Systems;
@using Highbyte.DotNet6502.Systems.Commodore64
@using Highbyte.DotNet6502.Systems.Commodore64.Config
@using Highbyte.DotNet6502.Systems.Commodore64.TimerAndPeripheral;
@using Highbyte.DotNet6502.Systems.Commodore64.Utils.BasicAssistant
@using Highbyte.DotNet6502.Systems.Rendering;
@using Highbyte.DotNet6502.Systems.Utils
@using static Highbyte.DotNet6502.AI.CodingAssistant.CustomAIEndpointCodeSuggestion
@using static Highbyte.DotNet6502.Systems.Commodore64.TimerAndPeripheral.C64Joystick;
@using static Highbyte.DotNet6502.App.WASM.Pages.Index

<details id="roms_section">
    <summary>ROMs</summary>
    <p>The C64 system requires the following ROM files: <strong>Kernal, Basic, and Character generator</strong>.</p>
    <p style="color: rgb(200, 60, 0);"><em>Note: You may need a license from Commodore/Cloanto (or own a C64) to use C64 ROM files.</em></p>
    <p>How to download and use them:</p>
    <p>- Automatically download ROM files from known URLs (see right).</p>
    <p>- Or upload existing ROM files from your computer.</p>
    <div class="row">
        <div class="column">
            <InputFile id="c64RomFilePicker" OnChange="@OnC64RomFilePickerChange" multiple hidden />
            <span>
                <button @onclick="LoadROMsFromURL">Automatically load ROMs from known URLs</button>
                <button onclick="document.getElementById('c64RomFilePicker').click()">Or upload ROMs from files from your computer</button>
            </span>
            @if (_isLoadingC64Roms)
            {
                <p>Uploading ROMs...</p>
            }
            else
            {
                <p>@LoadedROMCount/@_requiredNumberOfRomFiles ROMs loaded</p>
                @if (!string.IsNullOrEmpty(_validationMessage))
                {
                    <p class="validation-message">@_validationMessage</p>
                }
                <ul>
                    @foreach (var romName in C64SystemConfig.RequiredROMs)
                    {
                        @if (GetLoadedRoms().ContainsKey(romName))
                        {
                            <li>@romName @GetLoadedRoms()[romName].Length bytes</li>
                        }
                        else
                        {
                            <li class="validation-message" style="font-weight: bold;">@romName - not loaded</li>
                        }
                    }
                </ul>
            }
            <span>
                <button @onclick="UnloadROMs">Unload ROMs</button>
            </span>

        </div>

        <div class="column">
            <p>Direct download links from <a href="@(new Uri(C64SystemConfig.ROMDownloadUrls[C64SystemConfig.KERNAL_ROM_NAME]).GetLeftPart(UriPartial.Authority))" target="_blank">here</a></p>
            <ul>
                <li>
                    <a href="@C64SystemConfig.ROMDownloadUrls[C64SystemConfig.KERNAL_ROM_NAME]">@Path.GetFileName(new Uri(C64SystemConfig.ROMDownloadUrls[C64SystemConfig.KERNAL_ROM_NAME]).LocalPath)</a>
                </li>
                <li>
                    <a href="@C64SystemConfig.ROMDownloadUrls[C64SystemConfig.BASIC_ROM_NAME]">@Path.GetFileName(new Uri(C64SystemConfig.ROMDownloadUrls[C64SystemConfig.BASIC_ROM_NAME]).LocalPath)</a>
                </li>
                <li>
                    <a href="@C64SystemConfig.ROMDownloadUrls[C64SystemConfig.CHARGEN_ROM_NAME]">@Path.GetFileName(new Uri(C64SystemConfig.ROMDownloadUrls[C64SystemConfig.CHARGEN_ROM_NAME]).LocalPath)</a>
                </li>
            </ul>
        </div>
    </div>
</details>

<details id="video_audio_section">
    <summary>Video/audio</summary>
    <div class="row">
        <div class="column">
            @* <h4>General settings</h4> *@
            <div class="table">
                <div class="table-row">
                    <div class="table-cell table-cell-fixed-width-medium twocol">
                        Render provider:
                        @if (SelectedRenderProviderType != null)
                        {
                            <span title="@TypeDisplayHelper.GetHelpText(SelectedRenderProviderType)" class="help-icon">ⓘ</span>
                        }
                    </div>
                    <div class="table-cell table-cell-fixed-width-medium twocol">
                        <select value="@(SelectedRenderProviderType?.Name ?? "")" @onchange="OnRenderProviderChanged">
                            @foreach (var rendererProviderType in RenderProviderTypes)
                            {
                                <option value="@rendererProviderType.Name"> @TypeDisplayHelper.GetDisplayName(rendererProviderType) </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-cell-fixed-width-medium twocol">
                        Render target:
                        @if (SelectedRenderTargetType != null)
                        {
                            <span title="@TypeDisplayHelper.GetHelpText(SelectedRenderTargetType)" class="help-icon">ⓘ</span>
                        }
                    </div>
                    <div class="table-cell table-cell-fixed-width-medium twocol">
                        <select value="@(SelectedRenderTargetType?.Name ?? "")" @onchange="OnRenderTargetChanged">
                            @foreach (var renderTargetType in RenderTargetTypes)
                            {
                                <option value="@renderTargetType.Name"> @TypeDisplayHelper.GetDisplayName(renderTargetType) </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-cell-fixed-width-medium twocol">Audio enabled (experimental):</div>
                    <div class="table-cell table-cell-fixed-width-medium twocol"><input @bind="C64SystemConfig.AudioEnabled" @bind:event="oninput" type="checkbox" id="audioEnabled" title="Enable audio" /></div>
                </div>
            </div>
        </div>
    </div>

</details>

<details id="joystick_section">
    <summary>Joystick settings</summary>
    <div class="row">
        <div class="column">
            <h4 class "">Joystick</h4>
            @{
                var gamepadToJoystickMap = C64HostConfig.InputConfig.GamePadToC64JoystickMap[C64HostConfig.InputConfig.CurrentJoystick];
            }
            <div class="table">
                <div class="table-row">
                    <div class="table-cell table-cell-fixed-width-medium twocol">Select current joystick</div>
                    <div class="table-cell table-cell-fixed-width-medium twocol">
                        <select value="@C64HostConfig.InputConfig.CurrentJoystick" @onchange="OnSelectJoystickChanged">
                            @foreach (var joystick in C64HostConfig.InputConfig.AvailableJoysticks.ToArray())
                            {
                                <option value="@joystick"> @joystick </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-cell-fixed-width-medium twocol">Joystick @C64HostConfig.InputConfig.CurrentJoystick action</div>
                    <div class="table-cell table-cell-fixed-width-medium twocol">Gamepad button</div>
                </div>
                @{
                    foreach (var mapKey in gamepadToJoystickMap)
                    {
                        <div class="table-row">
                            <div class="table-cell table-cell-fixed-width-medium twocol">@string.Join(",", mapKey.Value)</div>
                            <div class="table-cell table-cell-fixed-width-medium twocol">@string.Join(",", mapKey.Key)</div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="column">

            <h4>Joystick keyboard</h4>
            @{
                var keyToJoystickMap = C64SystemConfig.KeyboardJoystickMap;
            }
            <div class="table">
                <div class="table-row">
                    <div class="table-cell table-cell-fixed-width-medium twocol">Enabled</div>
                    <div class="table-cell table-cell-fixed-width-medium twocol"><input @bind="C64SystemConfig.KeyboardJoystickEnabled" @bind:event="oninput" type="checkbox" id="keyboardJoystickEnabled" title="Enable Joystick Keyboard" /></div>
                </div>

                <div class="table-row">
                    <div class="table-cell table-cell-fixed-width-medium twocol">Select current keyboard joystick</div>
                    <div class="table-cell table-cell-fixed-width-medium twocol">
                        <select value="@C64SystemConfig.KeyboardJoystick" @onchange="OnSelectKeyboardJoystickChanged">
                            @foreach (var joystick in C64HostConfig.InputConfig.AvailableJoysticks.ToArray())
                            {
                                <option value="@joystick"> @joystick </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell table-cell-fixed-width-medium twocol">Joystick @C64SystemConfig.KeyboardJoystick action</div>
                    <div class="table-cell table-cell-fixed-width-medium twocol">Key</div>
                </div>
                @{
                    foreach (var mapKey in keyToJoystickMap.GetMap(C64SystemConfig.KeyboardJoystick))
                    {
                        <div class="table-row">
                            <div class="table-cell table-cell-fixed-width-medium twocol">@string.Join(",", mapKey.Value)</div>
                            <div class="table-cell twocol">@string.Join(",", mapKey.Key)</div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>

</details>

<details id="basic_ai_section">
    <summary>Basic AI coding assistant <a href="https://github.com/highbyte/dotnet-6502/blob/master/doc/SYSTEMS_C64_AI_CODE_COMPLETION.md" target="_blank">(info)</a></summary>

    <div class="row">
        <div class="column">
            @* <h4>Basic AI coding assistant</h4> *@
            <div class="table">
                <div class="table-row">
                    <div class="table-cell table-cell-fixed-width-medium twocol">AI backend type</div>
                    <div class="table-cell table-cell-fixed-width-large twocol">
                        <select value="@C64HostConfig.CodeSuggestionBackendType" @onchange="OnCodeSuggestionBackendTypeChanged">
                            @foreach (var codeSuggestionBackendType in Enum.GetNames<CodeSuggestionBackendTypeEnum>().ToArray())
                            {
                                <option value="@codeSuggestionBackendType"> @codeSuggestionBackendType </option>
                            }
                        </select>
                    </div>
                </div>
                @if (@C64HostConfig.CodeSuggestionBackendType == CodeSuggestionBackendTypeEnum.OpenAI)
                {
                    <div class="table-row">
                        <div class="table-cell table-cell-fixed-width-medium twocol">OpenAI API key</div>
                        <div class="table-cell table-cell-fixed-width-large twocol">
                            @if (_openAIApiConfig != null)
                            {
                                <InputText @ref="_openAIApiKeyInputText" @bind-Value="_openAIApiConfig.ApiKey" style="width: inherit" />
                            }
                        </div>
                    </div>
                }

                @if (@C64HostConfig.CodeSuggestionBackendType == CodeSuggestionBackendTypeEnum.OpenAISelfHostedCodeLlama)
                {
                    <div class="table-row">
                        <div class="table-cell table-cell-fixed-width-medium twocol">Self-hosted OpenAI compatible endpoint (Ollama)</div>
                        <div class="table-cell table-cell-fixed-width-large twocol">
                            @if (_openAISelfHostedCodeLlamaAIApiConfig != null)
                            {
                                <InputText @ref="_openAISelfHostedCodeLlamaEndpointInputText" @bind-Value="_openAISelfHostedCodeLlamaAIApiConfig.EndpointString" style="width: inherit" />
                            }
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell table-cell-fixed-width-medium twocol">Model name</div>
                        <div class="table-cell table-cell-fixed-width-large twocol">
                            @if (_openAISelfHostedCodeLlamaAIApiConfig != null)
                            {
                                <InputText @ref="_openAISelfHostedCodeLlamaModelNameInputText" @bind-Value="_openAISelfHostedCodeLlamaAIApiConfig.DeploymentName" style="width: inherit" />
                            }
                       </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell table-cell-fixed-width-medium twocol">Self-hosted API key (optional)</div>
                        <div class="table-cell table-cell-fixed-width-large twocol">
                            @if (_openAISelfHostedCodeLlamaAIApiConfig != null)
                            {
                                <InputText @ref="_openAISelfHostedCodeLlamaApiKeyInputText" @bind-Value="_openAISelfHostedCodeLlamaAIApiConfig.ApiKey" style="width: inherit" />
                            }
                        </div>
                    </div>
                }

                @if (@C64HostConfig.CodeSuggestionBackendType == CodeSuggestionBackendTypeEnum.CustomEndpoint)
                {
                    <div class="table-row">

                        <div class="table-cell table-cell-fixed-width-medium twocol">Custom AI endpoint</div>
                        <div class="table-cell table-cell-fixed-width-large twocol">
                            @if (_customEndpointAIApiConfig != null)
                            {
                                @_customEndpointAIApiConfig.Endpoint
                            }
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell table-cell-fixed-width-medium twocol">Custom endpoint API key</div>
                        <div class="table-cell table-cell-fixed-width-large twocol" >
                            @if (_customEndpointAIApiConfig != null)
                            {
                                <InputText @ref="_customEndpointAIApiKeyInputText" @bind-Value="_customEndpointAIApiConfig.ApiKey" style="width: inherit"/>
                            }
                        </div>
                    </div>
                }

                @if (@C64HostConfig.CodeSuggestionBackendType != CodeSuggestionBackendTypeEnum.None)
                {
                    <div class="table-row">
                        <div class="table-cell table-cell-fixed-width-medium twocol"><button @onclick="TestAIAssistantEndpoint">Test</button></div>
                        <div class="table-cell twocol" style="word-break: break-word">
                            @if (!string.IsNullOrEmpty(_aiBackendValidationMessage))
                            {
                                @_aiBackendValidationMessage
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</details>
<p></p>
<button @onclick="Ok">Ok</button>
<button @onclick="Cancel">Cancel</button>

@code {

    [Inject]
    public ILocalStorageService LocalStorage { get; set; } = default!;
    [Inject]
    public IJSRuntime Js { get; set; } = default!;
    [Inject]
    public HttpClient HttpClient { get; set; } = default!;

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public IHostSystemConfig HostSystemConfig { get; set; } = default!;
    [Parameter] public string SelectedSystemConfigurationVariant { get; set; } = default!;
    [Parameter] public List<(Type renderProviderType, Type renderTargetType)> AvailableRendererProviderAndRenderTargetTypeCombinations { get; set; } = default!;


    public C64HostConfig C64HostConfig => (C64HostConfig)HostSystemConfig;
    public C64SystemConfig C64SystemConfig => C64HostConfig.SystemConfig;

    private List<Type> RenderProviderTypes => AvailableRendererProviderAndRenderTargetTypeCombinations.Select(t => t.renderProviderType).Distinct().ToList();
    private Type? SelectedRenderProviderType => C64SystemConfig.RenderProviderType;
    private List<Type> RenderTargetTypes => AvailableRendererProviderAndRenderTargetTypeCombinations
        .Where(t => t.renderProviderType == SelectedRenderProviderType)
        .Select(t => t.renderTargetType)
        .ToList();
    private Type? SelectedRenderTargetType => C64SystemConfig.RenderTargetType;

    protected override async Task OnInitializedAsync()
    {
        _openAIApiConfig = await C64Setup.GetOpenAIConfig(LocalStorage);
        _openAISelfHostedCodeLlamaAIApiConfig = await C64Setup.GetOpenAISelfHostedCodeLlamaConfig(LocalStorage);
        _customEndpointAIApiConfig = await C64Setup.GetCustomAIEndpointConfig(LocalStorage);
        BlazoredModal.SetTitle("C64 config");

        // If ROMs aren't loaded, expand HTML details element for roms (setting property open to true)
        if (LoadedROMCount < _requiredNumberOfRomFiles)
            await Js.InvokeVoidAsync("setOpen", "roms_section", true);

        // If no render provider type is yet selected, auto-select first available render provider
        if (C64SystemConfig.RenderProviderType == null && RenderProviderTypes.Count > 0)
        {
            C64SystemConfig.SetRenderProviderType(RenderProviderTypes.First());
        }
        // If no render provider target type is yet selected, auto-select first available render target
        if (C64SystemConfig.RenderTargetType == null && RenderTargetTypes.Count > 0)
        {
            C64SystemConfig.SetRenderTargetType(RenderTargetTypes.First());
        }
    }

    private void UnloadROMs() => C64HostConfig.SystemConfig.ROMs = new List<ROM>();

    private ApiConfig _openAIApiConfig = default!;
    private InputText _openAIApiKeyInputText = default!;

    private ApiConfig _openAISelfHostedCodeLlamaAIApiConfig = default!;
    private InputText _openAISelfHostedCodeLlamaEndpointInputText = default!;
    private InputText _openAISelfHostedCodeLlamaModelNameInputText = default!;
    private InputText _openAISelfHostedCodeLlamaApiKeyInputText = default!;

    private CustomAIEndpointConfig _customEndpointAIApiConfig = default!;
    private InputText _customEndpointAIApiKeyInputText = default!;

    private async Task Ok()
    {
        if (C64HostConfig.CodeSuggestionBackendType == CodeSuggestionBackendTypeEnum.OpenAI)
        {
            await C64Setup.SaveOpenAICodingAssistantConfigToLocalStorage(LocalStorage, _openAIApiConfig);
        }
        if (C64HostConfig.CodeSuggestionBackendType == CodeSuggestionBackendTypeEnum.OpenAISelfHostedCodeLlama)
        {
            await C64Setup.SaveOpenAISelfHostedCodeLlamaCodingAssistantConfigToLocalStorage(LocalStorage, _openAISelfHostedCodeLlamaAIApiConfig);
        }
        else if (C64HostConfig.CodeSuggestionBackendType == CodeSuggestionBackendTypeEnum.CustomEndpoint)
        {
            await C64Setup.SaveCustomCodingAssistantConfigToLocalStorage(LocalStorage, _customEndpointAIApiConfig);
        }
        await BlazoredModal.CloseAsync(ModalResult.Ok(HostSystemConfig));
    }
    private async Task Cancel() => await BlazoredModal.CloseAsync(ModalResult.Cancel());

    private bool _isLoadingC64Roms;
    private long _maxC64RomFileSize = 1024 * 8;
    private int _requiredNumberOfRomFiles = 3;

    private Dictionary<string, byte[]> GetLoadedRoms()
    {
        var dict = new Dictionary<string, byte[]>();
        foreach (var rom in C64HostConfig.SystemConfig.ROMs)
        {
            dict[rom.Name] = rom.Data == null ? new byte[] { } : rom.Data;
        }
        return dict;
    }

    private int LoadedROMCount => GetLoadedRoms().Count;
    private string _validationMessage = "";

    private string _aiBackendValidationMessage = "";


    private async Task LoadROMsFromURL()
    {
        _isLoadingC64Roms = true;
        _validationMessage = "";

        HttpClient.DefaultRequestHeaders.UserAgent.ParseAdd("Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36");
        HttpClient.DefaultRequestHeaders.Accept.ParseAdd("text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8");

        try
        {
            foreach (var romDownload in C64SystemConfig.ROMDownloadUrls)
            {
                var romName = romDownload.Key;
                var romUrl = romDownload.Value;
                var filename = Path.GetFileName(new Uri(romUrl).LocalPath);

                byte[] fileBuffer;
                var fullROMUrl = !string.IsNullOrEmpty(C64HostConfig.CorsProxyURL) ? $"{C64HostConfig.CorsProxyURL}{Uri.EscapeDataString(romUrl)}" : romUrl;
                try
                {
                    fileBuffer = await HttpClient.GetByteArrayAsync(fullROMUrl);
                }
                catch (Exception ex)
                {
                    throw new Exception($"Error downloading {fullROMUrl}: {ex.Message}", ex);
                }
                C64HostConfig.SystemConfig.SetROM(romName, data: fileBuffer);
            }            
        }
        catch (Exception ex)
        {
            _validationMessage = $"Error downloading ROMs: {ex.Message}";
        }
        finally
        {
            _isLoadingC64Roms = false;
            this.StateHasChanged();
        }
    }


    private async Task OnC64RomFilePickerChange(InputFileChangeEventArgs e)
    {
        if (C64HostConfig == null)
            return;

        _isLoadingC64Roms = true;
        _validationMessage = "";

        foreach (var file in e.GetMultipleFiles(_requiredNumberOfRomFiles))
        {
            try
            {
                if (file.Size > _maxC64RomFileSize)
                {
                    _isLoadingC64Roms = false;
                    _validationMessage += $"File {file.Name} size {file.Size} is more than limit {_maxC64RomFileSize}. ";
                    continue;
                }

                bool isKernal = file.Name.Contains("kern", StringComparison.InvariantCultureIgnoreCase);
                bool isBasic = file.Name.Contains("bas", StringComparison.InvariantCultureIgnoreCase);
                bool isChargen = file.Name.Contains("char", StringComparison.InvariantCultureIgnoreCase);
                if (!isKernal && !isBasic && !isChargen)
                {
                    _isLoadingC64Roms = false;
                    _validationMessage = $"File name {file.Name} does not contain one of the following string: kern, bas, char ";
                    continue;
                }

                var fileBuffer = new byte[file.Size];
                //var fileStream = e.File.OpenReadStream(file.Size);
                await file.OpenReadStream().ReadAsync(fileBuffer);
                var fileSize = fileBuffer.Length;

                if (isKernal)
                    C64HostConfig.SystemConfig.SetROM(C64SystemConfig.KERNAL_ROM_NAME, data: fileBuffer);
                else if (isBasic)
                    C64HostConfig.SystemConfig.SetROM(C64SystemConfig.BASIC_ROM_NAME, data: fileBuffer);
                else if (isChargen)
                    C64HostConfig.SystemConfig.SetROM(C64SystemConfig.CHARGEN_ROM_NAME, data: fileBuffer);
            }
            catch (Exception)
            {
                // Logger.LogError("File: {Filename} Error: {Error}",
                //    file.Name, ex.Message);
            }
        }
        _isLoadingC64Roms = false;
        this.StateHasChanged();
    }

    private void OnRenderProviderChanged(ChangeEventArgs e)
    {
        string? selectedRenderProviderTypeName = (string?)e.Value;
        var selectedRenderProviderType = RenderProviderTypes.FirstOrDefault(r => r.Name == selectedRenderProviderTypeName);
        if (selectedRenderProviderType != null)
        {
            C64HostConfig.SystemConfig.SetRenderProviderType(selectedRenderProviderType);
            
            // Auto-select first available render target for this provider
            var availableTargets = RenderTargetTypes;
            if (availableTargets.Count > 0)
            {
                C64HostConfig.SystemConfig.SetRenderTargetType(availableTargets.First());
            }
        }
    }

    private void OnRenderTargetChanged(ChangeEventArgs e)
    {
        string? selectedRenderTargetTypeName = (string?)e.Value;
        var selectedRenderTargetType = RenderTargetTypes.FirstOrDefault(r => r.Name == selectedRenderTargetTypeName);
        if (selectedRenderTargetType != null)
        {
            C64HostConfig.SystemConfig.SetRenderTargetType(selectedRenderTargetType);
        }
    }

    private void OnSelectJoystickChanged(ChangeEventArgs e) 
        => C64HostConfig.InputConfig.CurrentJoystick = int.Parse(e.Value!.ToString()!);

    private void OnSelectKeyboardJoystickChanged(ChangeEventArgs e)
        => C64SystemConfig.KeyboardJoystick = int.Parse(e.Value!.ToString()!);

    private void OnCodeSuggestionBackendTypeChanged(ChangeEventArgs e)
    {
        _aiBackendValidationMessage = "";        
        C64HostConfig.CodeSuggestionBackendType = Enum.Parse<CodeSuggestionBackendTypeEnum>(e.Value!.ToString()!);
    }

    private async Task TestAIAssistantEndpoint(MouseEventArgs e)
    {
        // Test AI assistant endpoint
        _aiBackendValidationMessage = "Testing...";

        ICodeSuggestion codeSuggestion;
        if(C64HostConfig.CodeSuggestionBackendType == CodeSuggestionBackendTypeEnum.OpenAI)
        {
            codeSuggestion = OpenAICodeSuggestion.CreateOpenAICodeSuggestion(_openAIApiConfig, C64BasicCodingAssistant.CODE_COMPLETION_LANGUAGE_DESCRIPTION, C64BasicCodingAssistant.CODE_COMPLETION_ADDITIONAL_SYSTEM_INSTRUCTION);
        }
        else if(C64HostConfig.CodeSuggestionBackendType == CodeSuggestionBackendTypeEnum.OpenAISelfHostedCodeLlama)
        {
            codeSuggestion = OpenAICodeSuggestion.CreateOpenAICodeSuggestionForCodeLlama(_openAISelfHostedCodeLlamaAIApiConfig, C64BasicCodingAssistant.CODE_COMPLETION_LANGUAGE_DESCRIPTION, C64BasicCodingAssistant.CODE_COMPLETION_ADDITIONAL_SYSTEM_INSTRUCTION);
        }        
        else if(C64HostConfig.CodeSuggestionBackendType == CodeSuggestionBackendTypeEnum.CustomEndpoint)
        {
            codeSuggestion = new CustomAIEndpointCodeSuggestion(_customEndpointAIApiConfig, C64BasicCodingAssistant.CODE_COMPLETION_LANGUAGE_DESCRIPTION);
        }
        else
        {
            throw new NotImplementedException($"Nothing to test for CodeSuggestionBackendType {C64HostConfig.CodeSuggestionBackendType}");
        }
        await codeSuggestion.CheckAvailability();
        if (codeSuggestion.IsAvailable)
        {
            _aiBackendValidationMessage = "OK";
        }
        else
        {
            _aiBackendValidationMessage = codeSuggestion.LastError ?? "Error";
        }
    }
}

<style>
    .help-icon {
        cursor: help;
        color: #007acc;
        margin-left: 5px;
        font-size: 14px;
        font-weight: bold;
    }
    
    .help-icon:hover {
        color: #005a9e;
    }
</style>
